# Part Three:
### Create a Travel Itinerary with a Corresponding Map

In [31]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Files to load
vacation_data_to_load = "/Users/markeia/OneDrive/Data Analytics Bootcamp/Python Module/World_Weather_Analysis/WeatherPy_vacation.csv"

In [4]:
# Read the city data file and store it in a pandas DataFrame.
vacation_data_df = pd.read_csv(vacation_data_to_load)

In [5]:
vacation_data_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Albany,US,78.01,few clouds,42.60,-73.97,NaN
1,3,Rikitea,PF,70.56,scattered clouds,-23.12,-134.97,Pension Maro'i
2,8,Meadow Lake,US,82.40,few clouds,34.80,-106.54,JKL Inc. R.V Park and Storage
3,10,Nishihara,JP,87.80,broken clouds,26.18,127.76,Minshuku Agaihama
4,16,Tombouctou,ML,89.35,clear sky,20.00,-3.00,NaN
...,...,...,...,...,...,...,...,...
218,566,Road Town,VG,82.99,scattered clouds,18.42,-64.62,"ZINGARA 76ft Catamaran, full crew-all included"
219,570,Vila Do Maio,CV,78.80,scattered clouds,15.13,-23.22,Residence 'I Delfini'
220,571,Khandyga,RU,83.10,few clouds,62.67,135.60,Apel'sin
221,572,Progreso,MX,81.00,broken clouds,21.28,-89.67,Playa Linda Hotel
222,574,Savannah Bight,HN,83.25,scattered clouds,16.45,-85.85,Villa on Dunbar Rock

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_data_df.iterrows()]

In [25]:
locations = vacation_data_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
vacation_start = vacation_data_df.loc[vacation_data_df["City"]=="Mantua"]
vacation_end = vacation_data_df.loc[vacation_data_df["City"]=="Siderno"]
vacation_stop_1 = vacation_data_df.loc[vacation_data_df["City"]=="Orbetello"]
vacation_stop_2 = vacation_data_df.loc[vacation_data_df["City"]=="Melfi"]

In [29]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop_1 = vacation_stop_1["Lat"].values[0], vacation_stop_1["Lng"].values[0]
stop_2 = vacation_stop_2["Lat"].values[0], vacation_stop_2["Lng"].values[0]

In [53]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start,end, waypoints=[stop_1,stop_2],travel_mode="DRIVING")
fig.add_layer(vacation_itinerary)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
vacation_itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop_1,vacation_stop_2])

In [45]:
vacation_itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
138,379,Mantua,IT,72.00,clear sky,45.17,10.78,Hotel la Favorita
136,372,Siderno,IT,73.99,few clouds,38.28,16.30,Grand Hotel President
72,198,Orbetello,IT,72.00,clear sky,42.44,11.22,Argentario Golf Resort & Spa
40,125,Melfi,IT,75.20,scattered clouds,41.00,15.65,HOTEL TERME DI RAPOLLA

In [46]:
vacation_itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,379,Mantua,IT,72.00,clear sky,45.17,10.78,Hotel la Favorita
1,372,Siderno,IT,73.99,few clouds,38.28,16.30,Grand Hotel President
2,198,Orbetello,IT,72.00,clear sky,42.44,11.22,Argentario Golf Resort & Spa
3,125,Melfi,IT,75.20,scattered clouds,41.00,15.65,HOTEL TERME DI RAPOLLA

In [51]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
travel_info = [info_box_template.format(**row) for index, row in vacation_itinerary_df.iterrows()]
locations = vacation_itinerary_df[["Lat", "Lng"]]

In [52]:
marker_layer = gmaps.marker_layer(locations, info_box_content=travel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))